// Mixins in here

.flex(@justify, @align){
    display:flex;
    justify-content:@justify;
    align-items:@align;

};

@bg1{
    background-color:@lightblue

};

@bg2{
    background-color:@blue;
};



.button(@button-bg, @width:200px, @font-color:white){
    display:block;
    background-color: @button-bg;
    margin: 10vh 20vh 10vh 20vh;
    padding:0px;
    cursor:pointer;
    width: 50vh;
    height:20vh;
    border-radius:15px;
    color:@font-color;
    font-size:4rem;
    text-align:center;
} ;