// Navigation Styles here

.top{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: @black;
    color:@white;
    padding-bottom:0px;
    height:20vh;
    

    .title{
        padding:15px;
        font-size:5rem;
        // background-color:white;
        width:20vh;
        
        
    }

    .navbar{
        font-size:3rem;
        color:white;
        padding:15px;
        

        .links{
            color:@white;
            

            a{
                text-decoration: none;
                color:@white;
                padding:20px;
                }
            }
        
    }

}

